// Colors
    //Primary
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
    //Neutral
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue:hsl(224, 23%, 55%);
$darkBlue: hsl(223, 47%, 23%);

// Typography
$primaryFont: 'Red Hat Display', sans-serif;;

// Media queries

$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;