@use '../base/variables' as v;
@use '../base/mixins' as m;

.card {
  background-color: #fff;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  &__box2{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    color: v.$darkBlue;
    font-weight: 900;
  }
  &__desc {
    line-height: 1.5;
    color: v.$desaturatedBlue;
    font-weight: 500;
  }

  &__plan {
    border-radius: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: v.$veryPaleBlue
  }

  &__anual {
    display: flex;
    gap: 1rem;
  }

  &__name {
    color: v.$darkBlue;
    font-weight: 900;
  }

  &__price {
    display: block;
    color: v.$desaturatedBlue;
    font-weight: 500;
  }

  &__change {
    display: inline-block;
    color: v.$brightBlue;
    font-weight: 700;
    transition: all 250ms ease;
    &:hover {
      text-decoration: none;
      color: hsla(245, 75%, 52%, 0.685);
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  &__btn {
    text-decoration: none;
    background-color: v.$brightBlue;
    color: v.$veryPaleBlue;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-weight: 900;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: all 250ms ease;
    &:hover{
      background-color: hsla(245, 75%, 52%, 0.685);
    }
  }

  &__cancel {
    text-decoration: none;
    color: v.$desaturatedBlue;
    font-weight: 900;
    transition: all 250ms ease;
    &:hover {
      color: v.$darkBlue;
    }
  }
}